nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  overflow: hidden;
  background-color: black;
  width: 100%;
  height: auto;
  position: relative;
}

nav ul li {
  float: left;
  width: 33.33%;
}

nav ul li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 40px;
  color: white;
  font-size: 16px;
  font-family:  "Almarai", sans-serif;
}

li a:hover {
  background-color: white;
  color: black;
}

#header {
  position: fixed;
  width: 100%;
  height: auto;
  text-align: center;
  display: block;
  background-color: #F0F0F0;
}

#logo {
   width: 200px;
   margin-top: 15px;
   margin-bottom: 15px;
}

body {
  font-family:  "Almarai", sans-serif;
  font-size: 16px;
  color: black;
}

#footer {
  background-color: #F0F0F0;
  height: auto;
  width: 100%;
  clear: left;
  background-color: #FBFBFB;
  font-size: 12px;
  padding: 5%;
  font-family: "Almarai", sans-serif;
}

.center {
  text-align: center;
}

.img-footer {
  width: 120px;
  margin-left: 45%;
  margin-right: 45%;
  text-align: center;
}
