nav ul {
	list-style-type: none;
	margin: 0;
        padding: 0;
        float: left;
	overflow: hidden;
        background-color: #0540F2;
	width: 100%;
	height: auto;
	position: fixed;
}

nav ul li {
	float: left;
	width: 33.33%;
}

nav ul li a {
	text-decoration: none;
	display: block;
        text-align: center;
        padding: 20px 40px;
	color: white;
	font-size: 20px;
	font-family: 'Young Serif', serif;
}

li a:hover {
	background-color: white;
	color: #0540F2;
}

body {
	font-family: verdana;
	font-size: 16px;
	color: #0540F2;
  	line-height: 150%;
	clear: both;
}

p a {
	text-decoration: none;
	color: #0540F2;
}

h1, h2, h3 {
	font-family: 'Young Serif', serif;
	font-size: 40px;
} 

#main {
	padding: 10% 20%;
	background-color: white;
}

#footer {
	clear: left;
	background-color: #0540F2;
	font-size: 20px;
	padding: 5%;
	color: white;	
	font-family: 'Young Serif', serif;
}

hr {
	border: 5px solid #0540F2;
}

#button {
	background-color: #0540F2;
	font-family:  'Young Serif', serif;
	font-size: 20px;
	width: 31%;
	margin-left: 33.3%;
	margin-right:33.3%;
	margin-top: 5%;
	border: 2px solid #0540F2;
}

#button a {
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

#button a:hover {
	background-color: white;
	color: #0540F2;
	border: 2px solid #0540F2;
}

.img {
	height: 100%;
        width: 100%;
        object-fit: contain;
	position: static;
	filter: grayscale(100%);
}

iframe {
	height: 400px;
        width: 100%;
        object-fit: contain;
	position: static;
	border: 0;
}

#aboutmeimg {
	height: auto;
        width: 45%;
	object-fit: contain;
	float: left;
	border-radius: 50%;
	margin: 5%;
}

.text {
	float: right;
	width: 50%;
	margin: 0;
	display: inline-block;
}

#wrap{
	clear: both;
}
